<script>
	import Header from "$lib/header/header.svelte";
	import Body from "$lib/core/body.svelte"
	import HeaderButton from "$lib/buttons/headerButton.svelte";
	import DisabledHeaderButton from "$lib/buttons/disabledHeaderButton.svelte";
	import Section from "$lib/text/section.svelte";
	import Paragraph from "$lib/text/paragraph.svelte";
	import Pad from "$lib/text/pad.svelte";
	import Link from "$lib/text/link.svelte";
	import PageLink from "$lib/text/pageLink.svelte";
	import ExternalLink from "$lib/text/externalLink.svelte";
	import PageData from "$lib/core/pageData.svelte";
	import StaticImage from "$lib/images/staticImage.svelte";
	import BottomImage from "$lib/images/bottomImage.svelte";

	import img_bleh from "$lib/assets/catspit.gif";
	import img_slug1 from "$lib/assets/tooluse.gif";
	import img_slug2 from "$lib/assets/grub_cheese.gif"
	import DeprecatedSection from "$lib/text/deprecated_section.svelte";
	import Comment from "$lib/text/comment.svelte";
</script>

<PageData title="Ashli's Site - Tools" desc="A collections of tools I've made." />

<Body>
	<a href="https://rainworldgame.com/" target="_blank" rel="external">
		<StaticImage src={img_slug1} title="A slugcat showing basic tool use. It could probably use the tools found on this page too!" alt="Slugcat spearing a blue lizard." height=20%/>
	</a>
	<a href="https://rainworldgame.com/" target="_blank" rel="external">
		<StaticImage src={img_slug2} title="More signs of intelligence from the slugcat species." alt="Vulture grub spawning a vulture." height=60%/>
	</a>
	
	<BottomImage src={img_bleh} title="Hai :3" alt="Black anthro cat sticks tongue out." x=1in/>

	<Header title="My Tools">
		<HeaderButton href="">Home</HeaderButton>
		<HeaderButton href="libraries">Libraries</HeaderButton>
		<HeaderButton href="langs">Languages</HeaderButton>
		<DisabledHeaderButton>Tools</DisabledHeaderButton>
	</Header>

	<Pad>
		<Paragraph>
			Here are some tools and small demonstrations I have made in the past.
		</Paragraph>
	
		<Section>Map Planner</Section>
		<Paragraph>
			This is a graph storage format intended to assist with developing games with a large number of areas. <Comment>As my games tend to have</Comment> 
			A small CLI to interact with the format may be found <Link href="tools/mapplanner">here</Link>. 
		</Paragraph>

		<DeprecatedSection>Virtual To-Do List</DeprecatedSection>
		<Paragraph>
			This is a minimalist tool made for a friend. It allows you to create "tasks" which you can then
			click on to mark them as "complete."<br> It remembers your tasks, and will automatically un-complete them
			daily for you. It may be found <PageLink href="tools/todolist">here</PageLink>, 
			however if you plan on seriously using it for organization, I would just bookmark it.
		</Paragraph>
	</Pad>

	<Header title="Minecraft" />

	<Pad>
		<Paragraph>
			These tools are made specifically for use by 
			<ExternalLink href="https://www.minecraft.net/en-us">Minecraft</ExternalLink>
			and/or 
			<ExternalLink href="https://mcdiamondfire.com/home/">DiamondFire</ExternalLink>. 

			Any "Recode" buttons will automatically send relevant items or information to the client using the Minecraft 
			<ExternalLink href="https://github.com/homchom/recode">Recode</ExternalLink> mod.
		</Paragraph>
	
		<Section>Minecraft Lore Image Generator</Section>
		<Paragraph>
			This tool generates a Minecraft command to give an item with an image as its lore. 
			It may be found <Link href="tools/imagelore">here</Link>.
		</Paragraph>

		<Section>Minecraft Skin Icon Generator</Section>
		<Paragraph>
			This tool generates a front-facing icon from your skin's texture file.
			This may be used for icons, profile pictures, etc. 
			It may be found <Link href="tools/skinmoji">here</Link>.
		</Paragraph>

		<DeprecatedSection>DiamondFire Template Encoder/Decoder</DeprecatedSection>
		<Paragraph>
			This tool encodes or decodes code templates from DiamondFire. 
			It may be found <Link href="tools/templatedata">here</Link>.
		</Paragraph>

		<DeprecatedSection>DiamondFire Object Notation</DeprecatedSection>
		<Paragraph>
			This is technically one of my languages, however it's relevant for this section.
			DFON is very similar to JSON in syntax. It is intended to be a way for DiamondFire plots to easily represent and compile constant data.
			The documentation and compiler may be found <Link href="langs/dfon">here</Link>.
		</Paragraph>
	</Pad>
</Body>

