<script>
	import Header from '$lib/header/header.svelte';
	import Body from '$lib/core/body.svelte';
	import HeaderButton from '$lib/buttons/headerButton.svelte';
	import DisabledHeaderButton from '$lib/buttons/disabledHeaderButton.svelte';
	import Section from '$lib/text/section.svelte';
	import Paragraph from '$lib/text/paragraph.svelte';
	import Pad from '$lib/text/pad.svelte';
	import HorizontalLine from '$lib/format/horizontalLine.svelte';
	import PageData from '$lib/core/pageData.svelte';

	import img_black_lives_matter from '$lib/assets/black-lives-matter.gif';
	import img_anti_fascist from '$lib/assets/anti-fascist.gif';
	import img_this_machine from '$lib/assets/thismachine.jpg';
	import img_acab from '$lib/assets/acab.gif';
	import img_est from '$lib/assets/est.gif';
	import img_sayno from '$lib/assets/SAYNO.gif';
	import img_linux from '$lib/assets/linux.gif';
	import img_antichrome from '$lib/assets/antichrome.gif';
	import img_trans from '$lib/assets/transgender.gif';
	import img_trans_user from '$lib/assets/transuser.gif';
	import img_kawaii from '$lib/assets/kawaii.gif';
	import img_imqueer from '$lib/assets/imqueer.png';
	import img_likenya from '$lib/assets/likenya.gif';
	import img_lesbian from '$lib/assets/lesbianpride.gif';
	import img_hyper from '$lib/assets/extendedhyperenjoyer.gif';
	import img_socks from '$lib/assets/socks.png';
	import img_support from '$lib/assets/support.png';
	import img_yumenikki from '$lib/assets/yumenikki.gif';
	import img_jerma from '$lib/assets/jerma.gif';
	import img_spotify from '$lib/assets/spotify.gif';
	import img_autism from '$lib/assets/autism.gif';
	import img_beauty from '$lib/assets/beauty_standards.gif';
	import img_demoman from '$lib/assets/demoman.gif';
	import img_evil from '$lib/assets/evil_comes_in_all_forms.gif';
	import img_paws from '$lib/assets/made_with_my_own_paws.jpg';
	import img_nonbinary from '$lib/assets/nonbinary.gif';
	import img_not_human from '$lib/assets/not_human.gif';
	import img_nyan from '$lib/assets/nyan.gif';
	import img_friends from '$lib/assets/online_friends.gif';
	import img_rage from '$lib/assets/rage.gif';

	import InlineCode from '$lib/text/inlineCode.svelte';
	import StaticImage from '$lib/images/staticImage.svelte';
	import img_cat_milk from '$lib/assets/milk.gif';
	import ExternalLink from '$lib/text/externalLink.svelte';
	import Comment from '$lib/text/comment.svelte';
	import Link from '$lib/text/link.svelte';
</script>

<PageData title="Ashli's Site" desc="Hello, I'm Ashli, and welcome to my site." />

<Body>
	<StaticImage src={img_cat_milk} title="Meee fr :3" alt="Cat drinking milk" height="20%" />

	<Header title="Ashli's Site">
		<DisabledHeaderButton>Home</DisabledHeaderButton>
		<HeaderButton href="libraries">Libraries</HeaderButton>
		<HeaderButton href="langs">Languages</HeaderButton>
		<HeaderButton href="tools">Tools</HeaderButton>
	</Header>

	<Pad>
		<Paragraph>
			Welcome to my site, I'm Ashli! <Comment>she/they/it</Comment>

			<br /><br />

			I'm a sapphic, non-binary kitty cat. I've been programming and working with computers since I
			was a tween. I primarily focus on experimental projects like esolangs, weird video games,
			things like that.

			<br /><br />

			This site is where I show off various projects of mine that I'm proud of! You can navigate
			around using the tabs in the top-right. Enjoy your stay!

			<br /><br />

			This site was built with Svelte! Source code may be found
			<ExternalLink href="https://codeberg.org/AshliKatt/Website">here</ExternalLink>. Don't be
			afraid to open an issue or get in contact if you think anything should be changed or added!
		</Paragraph>

		<Section>Socials</Section>
		<Paragraph>
			Matrix: <InlineCode>@ashlikatt:matrix.org</InlineCode>
			<Comment>Preferred</Comment><br />
			Discord: <InlineCode>@ashli.dev</InlineCode><br />
			Codeberg: <ExternalLink href="https://codeberg.org/AshliKatt">AshliKatt</ExternalLink>
		</Paragraph>

		<HorizontalLine />
		<br />

		<div style="text-align: center; line-height:3em; word-spacing:0.75em;">
			<!-- disc-content.neocities.org -->
			<!-- https://adriansblinkiecollection.neocities.org/ -->

			<!-- Political cards -->
			<img
				src={img_black_lives_matter}
				alt="Black Lives Matter"
				title="Everyone deserves the right to a life."
			/>
			<img
				src={img_anti_fascist}
				alt="Anti-Fascists"
				title="Oppose fascism and purveyors of it!!!"
			/>
			<img src={img_this_machine} alt="This machine kills fascists" title="Hell yea" />
			<img src={img_acab} alt="All cops are bastards; defund the police!" title="Fuck the cops" />
			<img src={img_est} alt="Eat shit transphobes!" title="Eat shit transphobes!" />
			<img
				src={img_beauty}
				alt="Fuck your fascist beauty standards"
				title="I make my own aesthetic"
			/>
			<img src={img_rage} alt="Full of Rage" title="Get angry!! Nyaaaa!!" />

			<!-- Technology cards -->
			<a rel="external" href="https://yesterweb.org/no-to-web3/" target="_blank">
				<img src={img_sayno} alt="Say no to WEB3" title="Say no to WEB3 and NFTs" />
			</a>
			<a rel="external" href="https://endeavouros.com/" target="_blank">
				<img src={img_linux} alt="Linux" title="Switch to linux now!" />
			</a>
			<a rel="external" href="https://librewolf.net/" target="_blank">
				<img
					src={img_antichrome}
					alt="Anything but Chrome"
					title="Please use anything except Chrome"
				/>
			</a>

			<!-- Queer cards -->
			<img src={img_trans} alt="Trans your gender" title="Trans your gender now!" />
			<img src={img_trans_user} alt="This user is transgender" title="I'm a lil trans girl :3" />
			<img src={img_kawaii} alt="To kawaii to live" title="Kawaii for life~!" />
			<img src={img_imqueer} alt="I'm fucking queer" title="I am very, very gay" />
			<img src={img_likenya} alt="You know, like *nya*" title="Nyaaa <3 <3 <3" />
			<img
				src={img_lesbian}
				alt="Lesbian Pride"
				title="Girls I mean girls I mean girls I mean girls"
			/>
			<img src={img_hyper} alt="Extended Hyper Enjoyer" title="Play celeste :3" />
			<img
				src={img_socks}
				alt="This site was made with programming socks"
				title="This site was built with blood, sweat, tears, and programming socks"
				style="max-width:100px;max-height:40px"
			/>
			<img
				src={img_support}
				alt="I support trans artists - Credit encounters-ltd.neocities.org"
				title="I support trans artists - Credit encounters-ltd.neocities.org"
				style="max-width:100px;max-height:40px"
			/>
			<img src={img_autism} alt="'What are you on?' THE AUTISM SPECTRUM, JACKASS" title="AUTISM!!! YEAAAHH!!" />
			<img src={img_paws} alt="Made with my own two paws!" title=":3 :3 :3 :3 :3" />
			<img src={img_not_human} alt="I'm not human" title="Therian moment meow meow meow" />
			<img src={img_nonbinary} alt="Non-Binary Pride" title="Sapphic, fem enby thing ¯\_(ツ)_/¯" />

			<!-- Shitpost cards -->
			<img src={img_demoman} alt="Meet the Demoman TF2 Video" title="Kaboom!!!" />
			<img src={img_evil} alt="Teletubbies: Evil Comes in All Forms" title="Beware..,,,;;,." />
			<img src={img_nyan} alt="Nyan Cat" title="kittyyyyy so colorfullll" />

			<!-- Support cards -->
			<a
				rel="external"
				href="https://store.steampowered.com/app/650700/Yume_Nikki/"
				target="_blank"
			>
				<img src={img_yumenikki} alt="Yume Nikki" title="Play Yume Nikki please :3" />
			</a>

			<a rel="external" href="https://www.twitch.tv/jerma985" target="_blank">
				<img src={img_jerma} alt="jerma985" title="jerma985" />
			</a>
			<a
				rel="external"
				href="https://open.spotify.com/user/31tjkgo4wvq4q33hsw4friupiwkq?si=94ef5520ee694089"
				target="_blank"
			>
				<img src={img_spotify} alt="Spotify" title="I love music" />
			</a>
			<img src={img_friends} alt="I love my online friends" title="Thank you all <3" />
		</div>
	</Pad>
</Body>
