<script lang="ts">
	export let title: string;
</script>

<div>
	<h1 title="No longer personally maintained.">
		{title}
	</h1>

	<slot />
</div>

<style lang="scss">
	@import '../palette.scss';

	h1 {
		display: inline;
		color: $DEPRECATED;
		font-family: $GLOBAL_FONT;
		font-weight: $GLOBAL_FONT_WEIGHT;
		font-size: 2.6rem;
		text-align: left;
		padding-left: 1%;
		padding-right: 1%;
		margin-bottom: 0.5em;
		cursor: help;
	}

	h1::before {
		content: '\00bb  ';
		color: $HEADER_ARROW_COLOR;
	}

	h1::after {
		content: ' ⨯';
		color: $DEPRECATED_SYMBOL;
	}

	div {
		padding: 10px 10px;
	}
</style>
