<h2 title="No longer personally maintained.">
    <slot />
</h2>

<style lang="scss">
    @import "../palette.scss";

    h2 {
        display:inline;
        color: $DEPRECATED;
        font-family: $GLOBAL_FONT;
        font-weight: $GLOBAL_FONT_WEIGHT;
        font-size: 1.75rem;
        text-align:left;
        padding-left:1%;
        padding-right:1%;
        margin-top:0;
        cursor: help;
    }

    h2::before {
        content: '\00bb  ';
        color: $SECTION_ARROW_COLOR;
    }

    h2::after {
        content: ' ⨯';
        color: $DEPRECATED_SYMBOL;
    }
</style>