<p>
	<slot />
</p>

<style lang="scss">
	@import '../palette.scss';

	p {
		color: $PARAGRAPH_TEXT_COLOR;
		font-family: $GLOBAL_FONT;
		font-weight: $GLOBAL_FONT_WEIGHT;
		font-size: 1.25rem;
		text-align: left;
		padding-left: 1%;
		border-left-color: $PARAGRAPH_LINE_COLOR;
		border-left-width: 1%;
		border-left-style: solid;
		margin-left: 1%;
		margin-bottom: 3em;
        margin-top: 0.75em;
		width: 55%;
	}

	p :global(a) {
		color: $LINK_COLOR;
		text-decoration: underline;
	}
</style>
