<script lang="ts">
	import Header from '$lib/header/header.svelte';
	import Body from '$lib/core/body.svelte';
	import HeaderButton from '$lib/buttons/headerButton.svelte';
	import DisabledHeaderButton from '$lib/buttons/disabledHeaderButton.svelte';
	import Section from '$lib/text/section.svelte';
	import Paragraph from '$lib/text/paragraph.svelte';
	import Pad from '$lib/text/pad.svelte';
	import ExternalLink from '$lib/text/externalLink.svelte';
	import PageData from '$lib/core/pageData.svelte';

	import img_kitty_surprise from '$lib/assets/kitty_surprise.gif';

	import StaticImage from '$lib/images/staticImage.svelte';
	import Johnvertisement from '$lib/images/johnvertisement.svelte';
	import Comment from '$lib/text/comment.svelte';
</script>

<PageData title="Ashli's Site - Libraries" desc="A collection of libraries I've developed." />

<Body>
	<StaticImage
		src={img_kitty_surprise}
		title="Yfu (Your face upon) seeing these AWESOME libraries"
		alt="Cat stares into distance before turning to the camera and making a surprised face."
		height="30%"
	/>

	<Header title="My Libraries">
		<HeaderButton href="">Home</HeaderButton>
		<DisabledHeaderButton>Libraries</DisabledHeaderButton>
		<HeaderButton href="langs">Languages</HeaderButton>
		<HeaderButton href="tools">Tools</HeaderButton>
	</Header>

	<Pad>
		<Paragraph>
			Libraries and other backend-esque projects I've made go here!
		</Paragraph>

		<Section>Alkale</Section>
		<Paragraph>
			Alkale is a Rust lexer and compiler base project. I intend to use it as a jumping-off
			point to develop a parser library to streamline production of my various languages.<br><br>
			
			Its crate index may be found <ExternalLink href="https://crates.io/crates/alkale">here</ExternalLink>.
		</Paragraph>

		<Section>DiamondFire IR</Section>
		<Paragraph>
			DF IR is a Rust intermediate representation for <ExternalLink href="https://mcdiamondfire.com/">DiamondFire</ExternalLink>'s 
			code template format. It was primarily made for a half-baked 
			<ExternalLink href="https://codeberg.org/AshliKatt/DiamondFireDecompiler">decompiler</ExternalLink> of mine, but it's free 
			for anyone to use/contribute.<br><br>
			
			As the repository states, this doesn't provide any advanced tooling for generating templates or analyzing them. This crate 
			is purely to provide a bare-bones implementation of the format to bridge the gap between DF and Rust, simple programs 
			<Comment>like my case</Comment> or more advanced libraries could totally use this as a backbone though.<br><br>
			
			Its repository may be found <ExternalLink href="https://codeberg.org/AshliKatt/DiamondFireIR">here</ExternalLink>.
		</Paragraph>
	</Pad>

	<Johnvertisement />
</Body>
